* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.header-top {
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.menu-bar {
  margin-left: 28vw;
}

.menu-bar a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
}

.header-content {

}
