@font-face {
  font-family: "Roboto";
  src: local('Roboto-Regular.ttf');
  src: url('fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto-LightItalic.ttf');
  src: url('fonts/Roboto-LightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: local('Roboto-Bold.ttf');
  src: url('fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*HEADER*/

.header-container {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  width: 75%;
  flex-wrap: wrap;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.menu-bar {
  margin-left: auto;
}

.menu-bar a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-weight: normal;
}

.header-content {
  color: #f9faf8;
  display: flex;
  margin: 70px 0;
  justify-content: space-between;
}

.header-content > .content > .title {
  font-size: 48px;
  font-weight: 900;
}

.header-content .image {
  border-radius: 15px;
}

.header-content > .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40%;
}

.content > button {
  border: none;
  margin-top: 8px;
  flex: 0 0 20px;
  padding: 8px 16px;
}

button {
  width: 120px;
  font-weight: 700;
  font-size: 16px;
  background-color: #3882F6;
  color: #f9faf8;
  border-radius: 5px;
}

.header-content > .image {
  width: 480px;
  height: 270px;
  background-color: gray;
}


/*INFO CARDS*/

.info-cards {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  padding-bottom: 100px;
}
.info-cards .header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.info-cards .cards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 48px;
}

.cards .card .image {
  color: #1f2937;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: #3882F6 solid 4px;;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.cards .card {
  width: 150px;
  flex: 0 0 auto;
}

.cards .card .text {
  text-align: center;
  padding: 8px 0;
  color: gray;
}


/*QUOTE*/

.quote-box {
  width: 100%;
  height: 380px;
  background-color: #E5E7EB;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;;
}

.quote .text {
  font-size: 36px;
  font-weight: 100;
}

.quote .author {
  font-weight: bold;
  font-size: 24px;
  align-self: flex-end;
}


/*SIGNUP CARD*/

.signup-offer {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup.card {
  border-radius: 8px;
  background-color: #3882F6;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  column-gap: 300px;
}

.signup.card.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  width: fit-content;
  color: #f9faf8;
}

.signup.heading {
  font-size: 24px;
  font-weight: bold;
}

.signup.card.button {
  width: 150px;
  height: 100%;
}

.signup.card button {
  text-align: center;
  height: auto;
  padding: 6px 14px;
  border: #f9faf8 solid 2px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  height: 75px;
  width: 100%
}
